<h1>Players Found</h1>
<h2>{Firstname Lastname</h2>
<head>
    <title>Span Multiple Columns in an HTML Table</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 10px;
        }
    </style>
</head>
<body>
	<table>
	    <tr>
	        <th>First Name</th>
	        <th>Last Name</th>
	        <th>Playable</th>
	        <th>gameId</th>
	        <th>Class</th>
	        <th>SpouseId</th>
	        <th>Hitpoints</th>
	    </tr>
	    <tr>
	        <th>Eldar</th>
	        <th>Bolden</th>
	        <th>True</th>
	        <th>1</th>
	        <th>Fighter</th>
	        <th>Null</th>
	        <th>15</th>
	    </tr>
	    <tr>
	        <th>Steja</th>
	        <th>Falhorn</th>
	        <th>False</th>
	        <th>1</th>
	        <th>Wizard</th>
	        <th>Null</th>
	        <th>11</th>
	    </tr>
	</table>
</body>