<h1>DungeonMasters</h1>
<h2>Search, Create, Delete or Update Dungeon Masters</h2>
<head>
    <style>
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 10px;
        }
    </style>
</head>
<body>
  <form action="" id="filterByName">
		<input type="text" placeholder="Example: Joe" name="dmName">
		<input type="submit" value="Filter By First Name">
	</form><br>

  <form action="/DungeonMasters" method="post" id="DMCreate">
  <form action="" id="dmCreate">
    <input type="text" placeholder="First Name" name="firstname">
    <input type="text" placeholder="Last Name" name="lastname">
    <input type="text" placeholder="Years of experience" name="experience">
    <input type="text" placeholder="Email" name="dmEmail">
    <input type="submit" value="Create DM">
  </form>

	<form action="" id="submitDM">
	<table>
	    <thead>
	        <th>First Name</th>
	        <th>Last Name</th>
	        <th>Experience</th>
          <th>Games</th>
          <th>Population</th>
	        <th>Email</th>
	    </thead>
      <tbody>
        {{#each DM}}
        <tr>
          <td>{{firstName}}</td>
          <td>{{lastName}}</td>
          <td>{{experience}}</td>
          <td>{{email}}</td>
          <th><button type="button" onclick="getForm('modify')">Modify DM</button></th>
          <th><button type="button" onclick="getForm('delete')">Delete DM</button></th>
        </tr>
        {{/each}}
      </tbody>
	</table>
</body>
