<h1>Welcome to your D&D home</h1>
<body>
	<div class="row">
		<div class="column">
			<a href='/Players'>
				<figure>
					<img src="blue-boy-sword.png" id="playerPic" Players/>
					<figcaption>Player's Entrance</figcaption>
				</figure>
			</a>
		</div>
		<div class="column">
			<a href='/DungeonMasters'>
				<figure>
					<img src="Otherworldly-Incantations-Dice-For-the-Dice-Gods.jpg" id="dmPic" />
					<figcaption>DM's Entrance</figcaption>
				</figure>
			</a>
		</div>
	</div>
</body>

