<h1>Items</h1>
<h2>Search, Create, Delete or Update Items</h2>
<head>
    <style>
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 10px;
        }
    </style>
</head>
<body>
	<button type="button" onclick="getForm('itemSearch')">Find Item</button>
	<button type="button" onclick="getForm('itemCreate')">Make Item</button>
	<div id="playerForm">
		<form action="" id="itemSearch" mehtod="" style="display:none">
			Item Name:<br>
			<input type="text" name="itemName"><br>
			<button type="button" value="Search" onclick="getForm('submitItem')">Submit</button>
		</form>
		<form action="" id="itemCreate" style="display:none">
			Item Name:<br>
			<input type="text" name="itemName"><br>
			Effect:<br>
			<input type="text" name="effect"><br>
			Type:<br>
			<input type="text" name="type"><br>
			Cost:<br>
			<input type="text" name="cost"><br>
		</form>
	    <form action="" id="submitItem" style="display:none">
	    	<table>
		    <tr>
		        <th>ItemId</th>
		        <th>Name</th>
		        <th>Effect</th>
		        <th>Type</th>
		        <th>Cost</th>
		        <th>Modify</th>
		        <th>Delete</th>
		    </tr>
		    <tr>
		        <th>1</th>
		        <th>Shield</th>
		        <th>Null</th>
		        <th>Weapon</th>
		        <th>2</th>
	            <th><button type="button" onclick="getForm('modify')">Modify Item</button></th>
	            <th><button type="button" onclick="getForm('delete')">Delete Item</button></th>
		    </tr>
		    <tr>
		        <th>2</th>
		        <th>Sword</th>
		        <th>Null</th>
		        <th>Weapon</th>
		        <th>5</th>
	            <th><button type="button" onclick="getForm('modify')">Modify Item</button></th>
	            <th><button type="button" onclick="getForm('delete')">Delete Item</button></th>
		    </tr>
		</table>
	    </form>
	    <form action="" id="modify" style="display:none">
	    </form>
	    <form action="" id="delete" style="display:none">
	    </form>
	</div>
	<script>
		function getForm(form){
			document.getElementById('itemSearch').style.display='none';
			document.getElementById('itemCreate').style.display='none';
			document.getElementById('submitItem').style.display='none';
			document.getElementById(form).style.display='block';
		}
	</script>
</body>
