<h1>Players</h1>
<h2>Search, Create, Delete or Update Players</h2>
<body>
	<button type="button" onclick="getForm('charSearch')">Find Character</button>
	<button type="button" onclick="getForm('charCreate')">Make Character</button>
	<button type="button" onclick="getForm('gameSearch')">Find Game</button>
	<div id="playerForm">
		<form action="/charSheet" id="charSearch" mehtod="get" style="display:none">
			First Name:<br>
			<input type="text" name="firstname"><br>
			Last Name:<br>
			<input type="text" name="lastname"><br>
			<input type="submit" value="submit">
		</form>
		<form action="" id="charCreate" style="display:none">
			First Name:<br>
			<input type="text" name="firstname"><br>
			Last Name:<br>
			<input type="text" name="lastname"><br>
			Game:<br>
			<input list="games">
			<datalist id="games">
				<option value="Azeroth">
				<option value="Arrakis">
				<option value="Tamriel">
				<option value="Narnia">
				<option value="etc...">
			</datalist><br>
			Class:<br>
			<input type="text" name="class"><br>
			<input type="submit" value="Create">
		</form>
		<form action="" id="gameSearch" style="display:none">
			Game Name:<br>
			<input type="text" name="gameName">
			<input type="submit" value="Search">
		</form>
	</div>
	<script>
		function getForm(form){
			document.getElementById('charSearch').style.display='none';
			document.getElementById('charCreate').style.display='none';
			document.getElementById('gameSearch').style.display='none';
			document.getElementById(form).style.display='block';
		}
	</script>
</body>
