<!doctype html>
<html lang='en'>
<head>
   <title>D&amp;D Database</title>
   <meta charset='utf-8'>
   <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
   <!-- <script src="/static/deleteitem.js"></script> -->
   <!-- <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'> -->
   <!-- <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous'> -->
   <link rel='stylesheet' type='text/css' href='/css/style.css'>
</head>
<body>
   <ul class='navBar'>
      <li><a href='/'>Home</a></li>
      <li><a href='/Players'>Players</a></li>
      <li><a href='/DungeonMasters'>DungeonMasters</a></li>
      <li><a href='/Games'>Games</a></li>
      <li><a href='/Items'>Items</a></li>
   </ul>
   <p id="d20Wrapper"> <img src="/DNDBG.png" alt="d20" id="d20"> </p>
   {{{body}}}
</body>
</html>
